/* Sidebar principal */
.sidebar-container {
  width: 250px;
  height: 100vh;
  background-color: #e3e6ea; /* más contrastante */
  border-right: 2px solid #ccc;
  padding: 20px;
  position: fixed;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* sombra sutil */
}

/* Título */
.sidebar-title {
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

/* Enlaces/Nav.Link */
.sidebar-link {
  color: #555;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;             /* Para alinear ícono + texto */
  align-items: center;       /* Centrado vertical */
  font-size: 16px;           /* Asegura el tamaño original */
}
.sidebar-icon {
  margin-right: 10px;
  font-size: 25px;
}
.sidebar-link:hover {
  background-color: #e9ecef;
  color: #000;
}

.sidebar-link.active {
  background-color: #007bff;
  color: white !important;
}